body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(170, 105, 70, 0.868);
}
#buttons-container{
    text-align: center;
}
button{
    font-size: 500%;
    border-radius: 50%;
    background-color: antiquewhite;
    border: 1px dotted;
    margin: 2px;
    cursor: pointer;
    margin-bottom: 25px;
}
button:hover{
    background-color: rgb(255, 244, 122);
    transform: scale(1.05);
    transition: 0.2s ease;
}
h3{
    font-size: 1.5em;
    font-family: arial;
    font-weight: bold;
    margin: 5px;
}
p{
   margin: 55px;
   font-size: 1.9em;
   font-family: Verdana;
   text-shadow: 1px 1px 5px;

}

